<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar">
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">系统管理</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./userMaintenance">用户管理</a></li>
                         <li><a href="./roleMaintenance">角色管理</a></li>
                    </ul>
                </li>
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">房屋管理</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./layout-blank.html">房屋信息</a></li>
                        <li><a href="./layout-one-column.html">房屋审核</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>

</html>
