<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<div th:include="common/header :: header"></div>
<body>
<!-- preloader -->
<div th:include="common/preloader :: preloader"></div>

<div id="main-wrapper">
    <!-- nav-header -->
    <div th:include="common/nav-header :: nav-header"></div>
    <!-- sidebar -->
    <div th:include="admin/sidebar :: sidebar"></div>

    <div class="content-body">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="active-member">
                                <div class="table-responsive">
                                    <table class="table table-xs mb-0">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user:${users}">
                                            <td><label th:text="${user.name}"></label></td>
                                            <td><label th:text="${user.email}"></label></td>
                                            <td><label th:text="${user.phoneNumber}"></label></td>
                                            <td><label th:text="${user.status}"></label></td>
                                            <td>
                                                <button type="button" class="mb-1 btn btn-danger btn-sm"
                                                        data-toggle="modal"
                                                        data-target="#user-update-model"
                                                        th:data-userName = "${user.name}"
                                                        th:data-userEmail = "${user.email}"
                                                        th:data-userPhoneNumber = "${user.phoneNumber}"
                                                        th:data-userStatus = "${user.status}"
                                                        th:data-userId = "${user.id}">修改
                                                </button>
                                                <button type="button" class="mb-1 btn btn-primary btn-sm"
                                                        data-toggle="modal"
                                                        data-target="#user-show-model"
                                                        th:data-userName = "${user.name}"
                                                        th:data-userEmail = "${user.email}"
                                                        th:data-userPhoneNumber = "${user.phoneNumber}"
                                                        th:data-userStatus = "${user.status}"
                                                        th:data-userId = "${user.id}">查看
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div th:include="common/footer :: footer"></div>

    <!-- modal -->
    <div class="modal fade" id="user-update-model" tabindex="-1" role="dialog"
         aria-labelledby="user-update-model-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="user-update-model-label">修改用户信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="user-update-name">Name</label>
                            <input type="text" class="form-control" id="user-update-name"
                                   placeholder="Name" value="" required>
                            <div class="invalid-feedback">
                                请输入用户名!
                            </div>
                            <div class="valid-feedback">
                                checked!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="user-update-email">Email</label>
                            <input type="text" class="form-control" id="user-update-email"
                                   placeholder="Email" value="" required>
                            <div class="invalid-feedback">
                                请输入邮箱!
                            </div>
                            <div class="valid-feedback">
                                checked!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="user-update-phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" id="user-update-phoneNumber"
                                   placeholder="Email" value="" required>
                            <div class="invalid-feedback">
                                请输入手机号码!
                            </div>
                            <div class="valid-feedback">
                                checked!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="user-update-status">Status</label>
                            <input type="text" class="form-control" id="user-update-status"
                                   placeholder="Status" value="" required>
                            <div class="invalid-feedback">
                                请选择状态!
                            </div>
                            <div class="valid-feedback">
                                checked!
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="user-update-id-hidden">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="user-show-model" tabindex="-1" role="dialog"
         aria-labelledby="user-show-model-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="user-show-model-label">查看用户信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="user-show-name">Name</label>
                            <input type="text" class="form-control" id="user-show-name"
                                   placeholder="Name" value="" required readonly>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="user-show-email">Email</label>
                            <input type="text" class="form-control" id="user-show-email"
                                   placeholder="Email" value="" required readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="user-show-phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" id="user-show-phoneNumber"
                                   placeholder="Phone Number" value="" required readonly>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="user-show-status">Status</label>
                            <input type="text" class="form-control" id="user-show-status"
                                   placeholder="Status" value="" required readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(function () {

    $('#user-update-model').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)[0] // Button that triggered the modal
      var userName = button.dataset.username // Extract info from data-* attributes
      var userEmail = button.dataset.useremail
      var userPhoneNumber = button.dataset.userphonenumber
      var userStatus = button.dataset.userstatus
      var userId = button.dataset.userid
      $('#user-update-name').val(userName)
      $('#user-update-email').val(userEmail)
      $('#user-update-phoneNumber').val(userPhoneNumber)
      $('#user-update-status').val(userStatus)
      $('#user-update-id-hidden').val(userId)
    })

    $('#user-show-model').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)[0] // Button that triggered the modal
      var userName = button.dataset.username // Extract info from data-* attributes
      var userEmail = button.dataset.useremail
      var userPhoneNumber = button.dataset.userphonenumber
      var userStatus = button.dataset.userstatus
      $('#user-show-name').val(userName)
      $('#user-show-email').val(userEmail)
      $('#user-show-phoneNumber').val(userPhoneNumber)
      $('#user-show-status').val(userStatus)
    })
  })
</script>

</body>

</html>
